* {
    box-sizing: border-box;
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-wrap {
    /* position: fixed; */
    display: inline-flex;
    /* bottom: 0; */
    width: 100%;
    overflow: hidden;
    height: 2rem;
    background-color: transparent;
    text-transform: uppercase;
}

.ticker-wrap .ticker,
.ticker-wrap .ticker2 {
    display: inline-block;
    height: 4rem;
    padding-left: 1rem;
    line-height: 2em;
    white-space: nowrap;
}

.ticker-wrap .ticker,
.ticker-wrap .ticker2 {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
}

.ticker-wrap .ticker2 {
    left: 100%;
}

.ticker-wrap .ticker__item {
    display: block;
    font-size: 1.5rem;
    color: white;
}